*{
    padding: 0;
    margin: 0;
}
header{
    background-color: papayawhip;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header span{
    font-size: 20px;
    font-weight: bold;
}